.container {
  padding: 0 2rem;
}

.blogName {
  text-align: center;
  color: #388087;
}
.blogDesc {
  margin: 10px;
  text-align: center;
}

.blogDate {
  display: flex;
  justify-content: space-evenly;
}

.blogTitle {
  text-align: center;
}

.blogAuthor {
  margin: 10px;
}
.blogNextButton {
  background-color: #697184;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: right;
  border-radius: 5px;
}
